/* CSS chung */
* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  font-style: sans-serif;
  text-decoration: none;

}

html {
  max-width: 768px
  position: relative;
  width: 100%;
  padding: 10px;
  box-sizing: border-box; /* Đảm bảo kích thước padding không làm tăng kích thước phần tử */

}

body {
  align-items: center;
  background-image: url(images/background2.jpg);
  background-size: 180%;
  max-width: 768px
  
  /* Đặt background ở giữa phía trên và giữa phía trái */
  background-position: 1vw 4%;
}
header, footer {
  background-color: none; /* Màu nền header và footer */
  padding: 10px; /* Khoảng cách giữa nội dung và background */
}
/* CSS cho màn hình máy tính */
.container {
  font-size: 10px;
}

/* CSS cho điện thoại di động */
@media (max-width: 768px) {
  .container {
    font-size: 10px;
  }

  /* Điều chỉnh header và menu điều hướng để hiển thị trên điện thoại */
  #header ul li {
    margin-right: 5px;
  }
}

/* Căn giữa trang web trên cả máy tính lẫn điện thoại di động */
body, .banner-wrapper, .banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Căn giữa logo và đường ngang */
.logo {
  margin-left: -11%;
  display: flex;
}

.logo img {
  height: 5vw; /* Kích thước logo sẽ là 10% chiều rộng màn hình */
  width: auto;
}

.horizontal-line {
  width: 100%;
  height: 15px; /* Độ cao của đường ngang, có thể thay đổi theo ý muốn */
  background-color: #54b435; /* Màu sắc của đường ngang, thay đổi theo ý muốn */
  position: fixed; /* Đặt đối tượng thành vị trí cố định */
  top: 0; /* Đặt đối tượng bám trên cùng của trình duyệt */
  left: 0; /* Đặt đối tượng bám bên trái của trình duyệt */
  z-index: 9999; /* Đặt độ ưu tiên hiển thị trên các phần tử khác */
}

/* Your CSS styles for the header go here */
#header {
  /* Your header styles */
  font-weight: normal; /* Set the default font-weight */
}

#header.active {
  font-weight: bold; /* Set the font-weight to bold when the header is active */
}

#header {
  width: 80%;
  border: 1px;
  height: 30px;
  font-family: Helvetica, sans-serif;
  font-size: 16px; fo
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#right {
  margin-right: 23%;
  padding: 0;
  list-style: none;
  display: flex;
  margin-left: -1%;
}

#header ul li {
  display: flex;
  align-items: center;
  margin-right: 8px;
  
}

#header ul li a {
  color: #17594a;
  font-size: 18px;
  text-decoration: none;
  padding: 15px 10px;
  white-space: nowrap;
}

#header ul li p {
  list-style-type: none;
  display: inline;
  text-align: center;
  justify-content: space-between;
  margin-left: 10px;
}

#header ul li p i {
  list-style-type: none;
  color: #17594a;
}
#header ul li i {
  list-style-type: none;
  color: #17594a;
  font-size: 18px;
}

#header ul li a:link {
  color: #17594a;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

#header ul li a:visited {
  color: #17594a;
  text-decoration: none;
  text-transform: uppercase;
}


#left{
  margin-right: 40%;
}
/* baner */
.banner-wrapper {
  display: flex;
  flex-direction: column; /* Hiển thị các phần tử con theo hướng dọc */
  align-items: center; /* Căn giữa theo chiều ngang */
  max-width: 90vw; /* Giới hạn chiều rộng của khung chứa banner */
  width: 60vw;
  margin: 10px auto;
}

.banner-container {

  padding: 10px; /* Khoảng cách giữa banner và viền khung chứa */
  margin-bottom: -33px; /* Khoảng cách giữa hai banner */
  text-align: center; /* Căn giữa nội dung trong banner container */
  width: 80%; /* Chiều rộng của khung chứa banner */
  margin-left: 0%;
}

.banner-image {
  max-width: 80%; /* Đảm bảo ảnh không vượt quá kích thước của banner */
  max-height: 80%; /* Đảm bảo ảnh không vượt quá kích thước của banner */
}

/* Popup overlay */
.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  justify-content: center;
  align-items: center;
}

.popup-overlay.active {
  display: flex;
}

/* Popup content */
.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 5px;
  position: relative;
  width: 42%;
  height: 720px;
}

.popup-content img {
  max-width: 120%;
  max-height: 86vh;
  margin-right: 20px;
  margin-top: 6px;
}
h9 {
  max-width: 100%;
  max-height: 80vh;
  margin-right: 32px;
  margin-top: -40px;
  font-size: 20px;
  margin-left: -23px;
}
/* Popup close button */
.popup-close {
    position: absolute;
    top: -85px;
    right: 2px;
    background-color: #ccc;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    size: 2%;
    width: 50px;
    height: 20px;
    z-index: 1;
}
}

/* icon */

#icon {

  max-width: 768px;
  margin-left: -15%;
  margin-right: 40%;
  height: 24%;
  width: 20%;
  font-family: Helvetica, sans-serif;
  font-size: 9vw;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin-top: -10%;
  color: #609966;
  justify-content: space-between;

}

#icon ul {
  display: flex;
  justify-content: space-between;
}

#icon ul li {
  list-style-type: none;

}

#icon ul li.left-icon {
    margin-right: 30px;
    margin-left: -2%;
}

#openPopupButton i{
  transform: scale(0.2s);

}
#icon ul li button i{
  font-size: 25px;
  transform: scale(0.2s);
  display: inline-block;
  font-family: FontAwesome;
  width: 60px;
  height: 0px;
  text-align: center;
  line-height: 40px;
  background-color: #175932;
  border-radius: 3px;
  color: #f8f8f8;
}
#icon ul li #popup p{
  color: #17594a;
}
#icon ul li p {
  font-size: 12px;
  text-align: center;
  position: relative;
  top: 0;
  margin-right: -2px;

}

.popup-content p {
  font-size: 24px;
  text-align: center;
  position: relative;
  top: 0;
  margin-right: -2px;

}
#left-icon{
  margin-right: 20%;
}
#left-icon i {
  transition: transform 0.3s ease;
  transform-origin: top center;
}
#left-icon p {
  margin-left: 40%;
  text-align: center;
  justify-content: space-between;
}

#left-icon i p {
  margin-left: 40%;
  text-align: center;
  justify-content: space-between;
  font-size: -100px;
}

#left-icon i:hover {
  transform: scale(1.2); 
}

/* ads */
/* Yoinked from CodePen, but improved the animation
so that it is smooth among other more minor things */
#ads{
  margin-top: 5vw;
  margin-left: -20%;
  text-align: center;
  z-index: -1;
}
.codepen-button {
  display: block;
  cursor: pointer;
  color: white;
  position: relative;
  text-decoration: none;
  font-weight: 600;
  border-radius: 6px;
  overflow: hidden;
  padding: 3px;
  isolation: isolate;
  width: 500%;
  margin-bottom: 14%;
  margin-top: -200%;
  margin-left: -10%;
}


.codepen-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  background: linear-gradient(115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
  background-size: 25% 100%;
  animation: an-at-keyframe-css-at-rule-that-translates-via-the-transform-property-the-background-by-negative-25-percent-of-its-width-so-that-it-gives-a-nice-border-animation_-We-use-the-translate-property-to-have-a-nice-transition-so-it_s-not-a-jerk-of-a-start-or-stop .75s linear infinite;
  animation-play-state: paused;
  translate: -5% 0%;
  transition: translate 0.25s ease-out;
}


.codepen-button:hover::before {
  animation-play-state: running;
  transition-duration: 0.75s;
  translate: 0% 0%;
}

@keyframes an-at-keyframe-css-at-rule-that-translates-via-the-transform-property-the-background-by-negative-25-percent-of-its-width-so-that-it-gives-a-nice-border-animation_-We-use-the-translate-property-to-have-a-nice-transition-so-it_s-not-a-jerk-of-a-start-or-stop {
  to {
    transform: translateX(-25%);
  }
}

.codepen-button span {
  position: relative;
  display: block;
  padding: 1rem 1.5rem;
  font-size: 1.1rem;
  background: #9DC08B;
  border-radius: 3px;
  height: 80%;
}

/* clip */
#player{
  height: 240px;
  width: 320px;
  display: flex;
  margin-top: 24px;
  margin-bottom: 5%;
}

#clip{
  margin-left:-50%;
  display: flex;
  flex: 1; /* Sử dụng tỉ lệ 1:1 để hình ảnh chiếm một phần bằng với text */
  padding: 20px;
}
#intro{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20%;
}
/* hoatdong */
/*------input and submit section-------*/
#intro-text {
    flex: 1;
    padding: 12vh;
    width: 50%;
    margin-top: -28%;
    margin-right: -28%;
    margin-bottom: 10%;
}
.textintro{
  font-size: 20px;
  margin-bottom: 2%;
}
.textintroleft {
  margin-left: 10px ;
  font-size: 20px;
  margin-bottom: -18%;
  margin-top: 10%;
}
.textintroleft br{
  margin-left: 20px;
}
#intro-text span b{
  font-size: 20px;
  margin-bottom: -2%;
}
.input-container {
  position: relative;
}
.littletext{
  margin-top: -2%;
  font-size: 18px;
}

.input-container input, .form button {
  outline: none;
  border: 2px solid #ffffff;
  margin: 8px 0;
  font-family: monospace;
}


/*--------signup section---------*/

.signup-link {
  color: #c0c0c0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
  font-family: monospace;
}

.signup-link a {
  color: #fff;
  text-decoration: none;
}

.up:hover {
  text-decoration: underline;
}


/*--------header section-----------*/

.form-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-family: monospace;
  font-weight: 600;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  animation-duration: 1.5s;
  overflow: hidden;
  transition: .12s;
}

.form-title span {
  animation: flickering 2s linear infinite both;
}

.title-2 {
  display: block;
  margin-top: -0.5rem;
  font-size: 2.1rem;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  -webkit-text-stroke: #fff 0.1rem;
  letter-spacing: 0.2rem;
  color: transparent;
  position: relative;
  text-shadow: 0px 0px 16px #CECECE;
}

.title-2 span::before,
.title-2 span::after {
  content: '—';
}

@keyframes flickering {
  0%,
  100% {
    opacity: 1;
  }

  41.99% {
    opacity: 1;
  }

  42% {
    opacity: 0;
  }

  43% {
    opacity: 0;
  }

  43.01% {
    opacity: 1;
  }

  47.99% {
    opacity: 1;
  }

  48% {
    opacity: 0;
  }

  49% {
    opacity: 0;
  }

  49.01% {
    opacity: 1;
  }
}

/*---------shooting stars-----------*/


.bg-stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-size: cover;
  animation: animateBg 50s linear infinite;
  margin-top: 50%;
}

@keyframes animateBg {
  0%,100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }
}

.star {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255,255,255,0.1),0 0 0 8px rgba(255,255,255,0.1),0 0 20px rgba(255,255,255,0.1);
  animation: animate 3s linear infinite;
}

.star::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg,#fff,transparent);
}

@keyframes animate {
  0% {
    transform: rotate(315deg) translateX(0);
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    transform: rotate(315deg) translateX(-1000px);
    opacity: 0;
  }
}

.star:nth-child(1) {
  top: 0;
  right: 0;
  left: initial;
  animation-delay: 0s;
  animation-duration: 1s;
}

.star:nth-child(2) {
  top: 0;
  right: 100px;
  left: initial;
  animation-delay: 0.2s;
  animation-duration: 3s;
}

.star:nth-child(3) {
  top: 0;
  right: 220px;
  left: initial;
  animation-delay: 2.75s;
  animation-duration: 2.75s;
}

.star:nth-child(4) {
  top: 0;
  right: -220px;
  left: initial;
  animation-delay: 1.6s;
  animation-duration: 1.6s;
}
.container {
  display: flex;
  flex-wrap: wrap;
  width: 620px; /* Độ rộng của hình */
  height: 580px; /* Chiều cao của hình */
  justify-content: space-between; /* Cách đều các khung */
  margin-left: 3%;
  margin-top: 25px;
  font-size: 29px;
  text-align: center;
}

.box {
  width: calc(50% - 20px); /* Chiều rộng của mỗi khung */
  height: calc(60% - 30px); /* Chiều cao của mỗi khung */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px; /* Khoảng cách giữa các khung */
  background-color: whitesmoke;
  color: whitesmoke;
  box-shadow: 5px 5px 7px #3b434e,
                 -5px -5px 7px #72946c;
}
/* hoatdong */

.box1 {
  width: calc(50% - 20px); /* Chiều rộng của mỗi khung */
  height: calc(50% - 30px); /* Chiều cao của mỗi khung */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px; /* Khoảng cách giữa các khung */
  background-color: #72946c;
  color: whitesmoke;
}

.box1 i {
  font-size: 70px;
  margin-bottom: 0.5px;
}
.box1 p {
  font-size: 65%;
  text-align: center;
  margin-bottom: 0.5px;
}
/* phanthuong */
.box image {
  width: 1%;
  height: 1%;
  margin-bottom: 0.5px;
  text-align: center;
  align-items: center;
}
.box p {
  font-size: 65%;
  text-align: center;
  margin-bottom: 0.5px;
  color: #3b434e;
  width: 104%;
}
.text{  
  width: 65%;
  border: 1px;
  height: 30px;
  font-family: Helvetica, sans-serif;
  font-size: 24px; 
  margin-top: -1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  display: flex;
  text-align: center;
  margin-left: 5%;
}
.text .ptleft {
  margin-right: 24%;
  margin-left: -10%;
}
.box .duoi{
  margin-left: 0%;
  text-align: center;
  font-weight: bold;
  color: #82CD47;
  font-size: 85%;
}
.orange-text{
  color: orange;
}
.codepen3-button {
  display: block;
  cursor: pointer;
  color: white;
  margin: 0 auto;
  position: relative;
  text-decoration: none;
  font-weight: 600;
  border-radius: 6px;
  overflow: hidden;
  padding: 3px;
  isolation: isolate;
  width: 100%;
  margin-bottom: 2%;
  margin-left: 4%;
  margin-top:20px;  
}
.codepen3-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  background: linear-gradient(115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
  background-size: 25% 100%;
  animation: an-at-keyframe-css-at-rule-that-translates-via-the-transform-property-the-background-by-negative-25-percent-of-its-width-so-that-it-gives-a-nice-border-animation_-We-use-the-translate-property-to-have-a-nice-transition-so-it_s-not-a-jerk-of-a-start-or-stop .75s linear infinite;
  animation-play-state: paused;
  translate: -5% 0%;
  transition: translate 0.25s ease-out;
}
.codepen3-button:hover::before {
  animation-play-state: running;
  transition-duration: 0.75s;
  translate: 0% 0%;
}
.codepen3-button span {
  position: relative;
  display: block;
  padding: 1rem 1.5rem;
  font-size: 1.1rem;
  background: #9DC08B;
  border-radius: 3px;
  height: 100%;
}
#listtodo {
  font-size: 24px;
  margin-top: 50px;
  margin-bottom: 110px;
  width: 30%;
  text-align: center;
}
#listtodo div u{
  margin-left: 10%;
  font-size: 37px;
  color: #465b3f;
}

/* Toi */
.form {
  position: relative;
  display: block;
  padding: 2.2rem;
  max-width: 350px;
  background: linear-gradient(14deg, rgba(2,0,36, 0.8) 0%, rgba(24, 24, 65, 0.7) 66%, 
            rgb(20, 76, 99) 100%), radial-gradient(circle, rgba(2,0,36, 0.5) 0%, 
            rgba(32, 15, 53, 0.2) 65%, rgba(14, 29, 28, 0.9) 100%);
  border: 2px solid #fff;
  -webkit-box-shadow: rgba(0,212,255) 0px 0px 50px -15px;
  box-shadow: rgba(0,212,255) 0px 0px 50px -15px;
  overflow: hidden;
  z-index: +1;
}


/*CHOOSE FILE UPLOAD*/
.file-input-container {
  display: none;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.file-input-container.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}
/* footer */
.footer1 img{
  width: 104.5%;
    margin-left: -3%;
    margin-top: -9%;
    margin-bottom: -4%;
    z-index: -2;
}
.footer2 img{
  width: 101.9%;
    margin-left: -3%;
    margin-top: 2%;
    margin-bottom: -2%;
    z-index: -3;
    position: absolute;
}
/* Phần Thưởng */

.toitext {
  font-size: 2rem;
  font-weight: bold;
  animation: rainbow-animation 6s infinite;
  background: #8EAC50;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* icon phần thưởng */

#phanthuong-icon {
  margin-left: -4%;
  height: 1%;
  font-family: Helvetica, sans-serif;
  font-size: 9px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin-top: 10px;
  float: center;
  color: #609966;
  justify-content: space-between;
}

#phanthuong-icon ul {
  display: flex;
  justify-content: space-between;
}

#phanthuong-icon ul li {
  list-style-type: none;

}

#phanthuong-icon ul li.icon-phanthuong {
  margin-right: 30px;
  margin-left: 3%;
}

#phanthuong-icon ul li a i{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #609966;
  color: #ffffff;
  font-size: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1%;
}

#phanthuong-icon ul li p {
      font-size: 12px;
      text-align: center;
      position: relative;
      top: -45px;
      margin-left: 20%;
      width: 57px;
      color: #fff;
}
#icon-phanthuong{
  margin-right: 20%;
}
#icon-phanthuong- i {
  transition: transform 0.3s ease;
  transform-origin: top center;
}
#icon-phanthuong p {
  margin-left: 40%;
  text-align: center;
  justify-content: space-between;
}

#icon-phanthuong i:hover {
  transform: scale(1.2); 
}
#phanthuong-icon ul li a:link{
  text-decoration: none;
}
.container-phanthuong {
  display: flex;
  flex-wrap: wrap;
  width: 620px; /* Độ rộng của hình */
  height: 580px; /* Chiều cao của hình */
  justify-content: space-between; /* Cách đều các khung */
  margin-left: -15%;
  margin-top: 30px;
  font-size: 29px;
  text-align: center;
  margin-bottom: 47%;
}

#bangdiem{
    font-size: 24px;
    margin-top: -1%;
    margin-bottom: 5%;
    width: 30%;
    text-align: center;
    margin-left: -4%;
}
#bangdiem div u{
  margin-left: 10%;
  color: #195748f5;
  font-size: 111%;
  font-weight: bold;
}
/* Toi */
/* Thiết lập kiểu dáng cho danh sách dọc */
#vertical-list {
  list-style: none; /* Loại bỏ dấu đầu dòng mặc định của danh sách */
  padding: 0; /* Xóa khoảng cách lề bên trong của danh sách */
  width: 50%;
  margin-left: 30%;
  text-decoration: none;
  color: #17594a;
}

#vertical-list li {
  margin: 5px 0; /* Khoảng cách giữa các hàng */
  padding: 10px; /* Khoảng cách lề bên trong của từng hàng */
  border-radius: 5px; /* Bo góc cho từng hàng */
  font-size: 27px;
}
#vertical-list li i {
  list-style-type: none;
  color: #17594a;
  font-size: 40px;
  margin-right: 4%;
}
a {
 text-decoration: none;
 color:#609966 ;
}
/* Thông báo */
.card {
  width: 70%;
  border-width: 1px;
  border-color: rgba(219, 234, 254, 1);
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 1);
  padding: 1rem;
  margin-left: -5%;
  margin-bottom: 2%;
}

.header {
  display: flex;
  align-items: center;
  grid-gap: 1rem;
  gap: 1rem;
}

.icon {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  background-color: #609966;
  padding: 0.5rem;
  color: rgba(255, 255, 255, 1);
}

.icon svg {
  height: 1rem;
  width: 1rem;
}

.alert {
  font-weight: 600;
  color: rgba(107, 114, 128, 1);
  color: #54b435;
}

.message {
  margin-top: 1rem;
  color: rgba(107, 114, 128, 1);
}

.actions {
  margin-top: 1.5rem;
}

.actions a {
  text-decoration: none;
}

.mark-as-read, .read {
  display: inline-block;
  border-radius: 0.5rem;
  width: 100%;
  padding: 0.75rem 1.25rem;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
}

.read {
  background-color: #609966;
  color: rgba(255, 255, 255, 1);
}
h2{
  color:#609966;;
}
.mark-as-read {
  margin-top: 0.5rem;
  background-color: rgba(249, 250, 251, 1);
  color: rgba(107, 114, 128, 1);
  transition: all .15s ease;
}

.mark-as-read:hover {
  background-color: rgb(230, 231, 233);
}
.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 5px;
  margin-top: -8%;
  margin-bottom: 10%;
}

h1 {
  text-align: center;
}

.activity-list {
  list-style: none;
  padding: 0;
}

.activity {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
}

.timestamp {
  margin-right: 10px;
  color: #999;
}

/* Style for alternating activity items */
.activity:nth-child(even) {
  background-color: #f2f2f2;
}
.addfr {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 12px;
  gap: 8px;
  height: 45px;
  width: 150px;
  border: none;
  background: rgb(74, 180, 50);
  border-radius: 50px;
  cursor: pointer;
  position: relative;
}

.lable {
  line-height: 22px;
  font-size: 17px;
  color: #fff;
  margin-left: 20px;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.addfr .span {
  border-radius: 50%;
  background-color: rgb(48, 129, 29);
  padding: 10px;
  position: absolute;
  left: 0;
}

.addfr:hover {
  background: rgb(48, 129, 29);
}

.addfr:hover .svg-icon {
  animation: slope 0.8s linear infinite;
}

@keyframes slope {
  0% {
  }

  50% {
    transform: rotate(15deg);
  }

  100% {
  }
}
/*  */
.orange {
  color: rgb(48, 129, 29);
}

.form-container {
  max-width: 700px;
  margin: 30px;
  background-color: #001925;
  padding: 30px;
  border-left: 5px solidrgb(48, 129, 29);
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
}

.heading {
  display: block;
  color: white;
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 20px;
}

.form-container .form .input {
  color: #87a4b6;
  width: 100%;
  background-color: #002733;
  border: none;
  outline: none;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  border-left: 1px solid transparent;
}

.form-container .form .input:focus {
  border-left: 5px solidrgb(48, 129, 29);
}

.form-container .form .textarea {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #013747;
  color: rgb(48, 129, 29);
  font-weight: bold;
  resize: none;
  max-height: 150px;
  margin-bottom: 20px;
  border-left: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

.form-container .form .textarea:focus {
  border-left: 5px solid rgb(48, 129, 29);
}

.form-container .form .button-container {
  display: flex;
  gap: 10px;
}

.form-container .form .button-container .send-button {
  flex-basis: 70%;
  background: rgb(48, 129, 29);
  padding: 10px;
  color: #001925;
  text-align: center;
  font-weight: bold;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

.form-container .form .button-container .send-button:hover {
  background: transparent;
  border: 1px solid rgb(48, 129, 29);
  color: rgb(48, 129, 29);
}

.form-container .form .button-container .reset-button-container {
  filter: drop-shadow(1px 1px 0px rgb(48, 129, 29));
  flex-basis: 30%;
}

.form-container .form .button-container .reset-button-container .reset-button {
  position: relative;
  text-align: center;
  padding: 10px;
  color: rgb(48, 129, 29);
  font-weight: bold;
  background: #001925;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
  transition: all 0.2s ease-in-out;
}

.form-container .form .button-container .reset-button-container .reset-button:hover {
  background: rgb(48, 129, 29);
  color: #001925;
}
.rank {
  max-width: 600px;
  margin: 50px auto;
  /* background-color: #fff; */
  padding: 20px;
  border-radius: 5px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  margin-top: -3%;
}
h1 {
  text-align: left;
  margin-bottom: -30px;
  margin-top: 4%;
  color: rgb(48, 129, 29);
}
h3 {
  text-align: left;
  margin-bottom: -15px;
  margin-top: 10%;
  color:rgb(48, 129, 29);
}

.ranking-list {
  list-style: decimal;
  padding-left: 20px;
}